<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.pccw.system.dao.PortalFuncMapper">
	<resultMap id="BaseResultMap" type="com.pccw.system.model.PortalFunc">
	<id column="FUNC_ID" jdbcType="DECIMAL" property="funcId" />
	<id column="FUNC_NAME" jdbcType="VARCHAR" property="funcName" />
	<id column="FUNC_URL" jdbcType="VARCHAR" property="funcUrl" />
	<id column="FUNC_SORT" jdbcType="DECIMAL" property="funcSort" />
	<id column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
	<id column="FUNC_STATUS" jdbcType="CHAR" property="funcStatus" />
	<id column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
	<id column="CREATED_DATE" jdbcType="DATE" property="createdDate" />
	<id column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
	<id column="UPDATED_DATE" jdbcType="DATE" property="updatedDate" />
	<id column="IS_LEAF" jdbcType="DECIMAL" property="isLeaf" />
	</resultMap>

	<sql id="Base_Column_List">
		FUNC_ID, 
  		FUNC_NAME, 
  		FUNC_URL, 
  		FUNC_SORT, 
  		PARENT_ID, 
  		FUNC_STATUS, 
  		CREATED_BY, 
  		CREATED_DATE, 
  		UPDATED_BY, 
  		UPDATED_DATE 
	</sql>
	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="com.pccw.system.model.PortalFunc">
		DELETE FROM PORTAL_FUNC
		WHERE
		FUNC_ID=#{funcId,jdbcType=DECIMAL}
	</delete>

	<!--插入操作 -->
	<insert id="insert" parameterType="map">
			insert into PORTAL_FUNC (
	     FUNC_ID,
	     FUNC_NAME,
	     FUNC_URL,
	     FUNC_SORT,
	     PARENT_ID,
	     FUNC_STATUS,
	     CREATED_BY,
	     CREATED_DATE,
	     UPDATED_BY,
	     UPDATED_DATE
		   )values (
		     #{funcId,jdbcType=DECIMAL},
		     #{funcName,jdbcType=VARCHAR},
		     #{funcUrl,jdbcType=VARCHAR},
		     #{funcSort,jdbcType=DECIMAL},
		     #{parentId,jdbcType=DECIMAL},
		     #{funcStatus,jdbcType=CHAR},
		     #{createdBy,jdbcType=VARCHAR},
		     #{createdDate,jdbcType=DATE},
		     #{updatedBy,jdbcType=VARCHAR},
		     #{updatedDate,jdbcType=DATE}
	   )
	</insert>

	<!--选择性插入操作 -->
	<insert id="insertSelective" parameterType="map">
		INSERT INTO PORTAL_FUNC
    <trim prefix="(" suffix=")" suffixOverrides="," >
  			<if test="funcId != null and funcId!=''" >
      			 FUNC_ID,
      		</if>
  			<if test="funcName != null and funcName!=''" >
      			 FUNC_NAME,
      		</if>
  			<if test="funcUrl != null and funcUrl!=''" >
      			 FUNC_URL,
      		</if>
  			<if test="funcSort != null and funcSort!=''" >
      			 FUNC_SORT,
      		</if>
  			<if test="parentId != null and parentId!=''" >
      			 PARENT_ID,
      		</if>
  			<if test="funcStatus != null and funcStatus!=''" >
      			 FUNC_STATUS,
      		</if>
  			<if test="createdBy != null and createdBy!=''" >
      			 CREATED_BY,
      		</if>
  			<if test="createdDate != null and createdDate!=''" >
      			 CREATED_DATE,
      		</if>
  			<if test="updatedBy != null and updatedBy!=''" >
      			 UPDATED_BY,
      		</if>
  			<if test="updatedDate != null and updatedDate!=''" >
      			 UPDATED_DATE
      		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="funcId != null and funcId!=''" >
		    	 #{funcId,jdbcType=DECIMAL},
		     </if>
    		<if test="funcName != null and funcName!=''" >
		    	 #{funcName,jdbcType=VARCHAR},
		     </if>
    		<if test="funcUrl != null and funcUrl!=''" >
		    	 #{funcUrl,jdbcType=VARCHAR},
		     </if>
    		<if test="funcSort != null and funcSort!=''" >
		    	 #{funcSort,jdbcType=DECIMAL},
		     </if>
    		<if test="parentId != null and parentId!=''" >
		    	 #{parentId,jdbcType=DECIMAL},
		     </if>
    		<if test="funcStatus != null and funcStatus!=''" >
		    	 #{funcStatus,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	 #{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	 #{createdDate,jdbcType=DATE},
		     </if>
    		<if test="updatedBy != null and updatedBy!=''" >
		    	 #{updatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="updatedDate != null and updatedDate!=''" >
		    	 #{updatedDate,jdbcType=DATE}
		     </if>
    </trim>
	</insert>


	<!-- 根据主键查询 -->
	<select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM PORTAL_FUNC
		WHERE
		FUNC_ID=#{funcId,jdbcType=DECIMAL}
	</select>

	<select id="getPageData" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM(
		SELECT
		<include refid="Base_Column_List" />
		,ROWNUM RN
		FROM (
		SELECT * FROM PORTAL_FUNC M START WITH M.FUNC_ID=0 CONNECT BY PRIOR
		M.FUNC_ID=M.PARENT_ID
		)
		<where>
			1=1
			<if test="funcName != null and funcName!=''">
				AND	 FUNC_NAME LIKE '%${funcName}%'
			</if>
			<if test="funcStatus != null and funcStatus!=''">
				AND	 FUNC_STATUS = #{funcStatus}
			</if>
		</where>
		)
		<where>
		1=1
			<if test="start != null and start!=''">
    	<![CDATA[ AND  RN>${start} ]]>
		</if>
		<if test="end != null and end!=''">
    	<![CDATA[ AND RN<=${end}]]>
		</if>
		
		</where>
		
		

	</select>

	<select id="getPageCount" parameterType="map" resultType="int">
		SELECT
		COUNT(1)
		FROM ( SELECT * FROM PORTAL_FUNC M START WITH M.FUNC_ID=0 CONNECT BY PRIOR
		M.FUNC_ID=M.PARENT_ID)
		<where>
			1=1
			<if test="funcName != null and funcName!=''">
				AND FUNC_NAME LIKE '%${funcName}%'
			</if>
			<if test="funcStatus != null and funcStatus!=''">
				AND	 FUNC_STATUS = #{funcStatus}
			</if>
		</where>
	</select>

	<update id="updateByPrimaryKeySelective" parameterType="map">
		 UPDATE PORTAL_FUNC
    <set >
    		<if test="funcId != null and funcId!=''" >
		    	FUNC_ID=#{funcId,jdbcType=DECIMAL},
		     </if>
    		<if test="funcName != null and funcName!=''" >
		    	FUNC_NAME=#{funcName,jdbcType=VARCHAR},
		     </if>
    		<if test="funcUrl != null and funcUrl!=''" >
		    	FUNC_URL=#{funcUrl,jdbcType=VARCHAR},
		     </if>
    		<if test="funcSort != null and funcSort!=''" >
		    	FUNC_SORT=#{funcSort,jdbcType=DECIMAL},
		     </if>
    		<if test="parentId != null and parentId!=''" >
		    	PARENT_ID=#{parentId,jdbcType=DECIMAL},
		     </if>
    		<if test="funcStatus != null and funcStatus!=''" >
		    	FUNC_STATUS=#{funcStatus,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	CREATED_BY=#{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="updatedBy != null and updatedBy!=''" >
		    	UPDATED_BY=#{updatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="updatedDate != null and updatedDate!=''" >
		    	UPDATED_DATE=#{updatedDate,jdbcType=DATE}
		     </if>
    </set>
    WHERE
   		 FUNC_ID=#{funcId,jdbcType=DECIMAL} 
	</update>

	<update id="updateByPrimaryKey" parameterType="map">
		UPDATE PORTAL_FUNC
    <set >
    		<if test="funcId != null and funcId!=''" >
		    	FUNC_ID=#{funcId,jdbcType=DECIMAL},
		     </if>
    		<if test="funcName != null and funcName!=''" >
		    	FUNC_NAME=#{funcName,jdbcType=VARCHAR},
		     </if>
		    	FUNC_URL=#{funcUrl,jdbcType=VARCHAR},
    		<if test="funcSort != null and funcSort!=''" >
		    	FUNC_SORT=#{funcSort,jdbcType=DECIMAL},
		     </if>
    		<if test="parentId != null and parentId!=''" >
		    	PARENT_ID=#{parentId,jdbcType=DECIMAL},
		     </if>
    		<if test="funcStatus != null and funcStatus!=''" >
		    	FUNC_STATUS=#{funcStatus,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	CREATED_BY=#{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="updatedBy != null and updatedBy!=''" >
		    	UPDATED_BY=#{updatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="updatedDate != null and updatedDate!=''" >
		    	UPDATED_DATE=#{updatedDate,jdbcType=DATE}
		     </if>
    </set>
    WHERE
   		 FUNC_ID=#{funcId,jdbcType=DECIMAL} 
	</update>

	<select id="getChildFuncs" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />,
		(SELECT COUNT(1) FROM PORTAL_FUNC Y WHERE Y.PARENT_ID=T.FUNC_ID ) IS_LEAF
		FROM PORTAL_FUNC T
		WHERE
		PARENT_ID=#{parentId,jdbcType=DECIMAL}
		ORDER BY FUNC_SORT
	</select>
	
	<select id="getEffectChildFuncs" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />,
		(SELECT COUNT(1) FROM PORTAL_FUNC Y WHERE Y.PARENT_ID=T.FUNC_ID ) IS_LEAF
		FROM PORTAL_FUNC T
		WHERE 
		PARENT_ID=#{parentId,jdbcType=DECIMAL}
		AND FUNC_STATUS='1'
		ORDER BY FUNC_SORT
	</select>

	<select id="getMaxFuncSort" parameterType="map" resultType="java.lang.Integer">
		SELECT nvl(max(func_sort),0) FROM portal_func t where
		t.parent_id=${parentId}
	</select>

	<update id="updateFuncSortMinusByRecursion" parameterType="map">
		update portal_func set func_sort=(func_sort-1)
		where  parent_id=${parentId} 
	 <if test="targetNodeSort != null and targetNodeSort!=''">
	 		<![CDATA[and func_sort<=${targetNodeSort}]]>
	 </if>
	  <if test="nodeSort != null and nodeSort!=''">
	  		<![CDATA[ and func_sort>=${nodeSort}]]>
	  </if>
	</update>
	
	<update id="updateFuncSortPlusByRecursion" parameterType="map">
		update portal_func set func_sort=(func_sort+1)
		where  parent_id=${parentId} 
		 <if test="targetNodeSort != null and targetNodeSort!=''">
			and func_sort>=${targetNodeSort} 
		</if>
		<if test="nodeSort != null and nodeSort!=''">
		 <![CDATA[and func_sort<=${nodeSort}]]>
		</if>
	</update>
	
	<select id="getFuncParent" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
			  FROM (SELECT 
			  			<include refid="Base_Column_List" />
			          FROM PORTAL_FUNC M
			         START WITH M.FUNC_ID = ${funcId}
			        CONNECT BY PRIOR M.PARENT_ID = M.FUNC_ID)
			 WHERE FUNC_ID != ${funcId}
	</select>
	
	<select id="getEffectRoleChildFuncs" parameterType="map" resultMap="BaseResultMap">
				SELECT T1.FUNC_ID,
		       T1.FUNC_NAME,
		       T1.FUNC_URL,
		       T1.FUNC_SORT,
		       T1.PARENT_ID,
		       T1.FUNC_STATUS,
		       T1.CREATED_BY,
		       T1.CREATED_DATE,
		       T1.UPDATED_BY,
		       T1.UPDATED_DATE,
		       (SELECT COUNT(1) FROM PORTAL_FUNC Y WHERE Y.PARENT_ID=T1.FUNC_ID ) IS_LEAF
		  FROM PORTAL_FUNC T1, PORTAL_ROLE_FUNC T2
		 WHERE T1.FUNC_ID = T2.FUNC_ID
		   AND T1.PARENT_ID=#{parentId,jdbcType=DECIMAL}
		   AND T2.ROLE_ID = ${roleId}
		   AND T1.FUNC_STATUS='1'
	
	</select>

</mapper> 