<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace必须指向Dao接口 -->
<mapper namespace="com.pccw.system.dao.PortalRoleFuncMapper">
<resultMap id="BaseResultMap" type="com.pccw.system.model.PortalRoleFunc">
   <id column="SEQ_NO" jdbcType="DECIMAL" property="seqNo" />
   <id column="FUNC_ID" jdbcType="DECIMAL" property="funcId" />
   <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
   <id column="STATUS" jdbcType="CHAR" property="status" />
   <id column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
   <id column="CREATED_DATE" jdbcType="DATE" property="createdDate" />
   <id column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
   <id column="UPDATED_DATE" jdbcType="DATE" property="updatedDate" />
</resultMap>

 <sql id="Base_Column_List">
  		SEQ_NO, 
  		FUNC_ID, 
  		ROLE_ID, 
  		STATUS, 
  		CREATED_BY, 
  		CREATED_DATE, 
  		UPDATED_BY, 
  		UPDATED_DATE 
  </sql>
  <!-- 根据主键删除-->
 <delete id="deleteByPrimaryKey" parameterType="com.pccw.system.model.PortalRoleFunc">
    DELETE FROM PORTAL_ROLE_FUNC
    WHERE 
   		 SEQ_NO=#{seqNo,jdbcType=DECIMAL} 
  </delete>
  
  <!--插入操作-->
  <insert id="insert" parameterType="map">
   	insert into PORTAL_ROLE_FUNC (
	     SEQ_NO,
	     FUNC_ID,
	     ROLE_ID,
	     STATUS,
	     CREATED_BY,
	     CREATED_DATE,
	     UPDATED_BY,
	     UPDATED_DATE
		   )values (
		     #{seqNo,jdbcType=DECIMAL},
		     #{funcId,jdbcType=DECIMAL},
		     #{roleId,jdbcType=DECIMAL},
		     #{status,jdbcType=CHAR},
		     #{createdBy,jdbcType=VARCHAR},
		     #{createdDate,jdbcType=DATE},
		     #{updatedBy,jdbcType=VARCHAR},
		     #{updatedDate,jdbcType=DATE}
	   )
	</insert>

 <!--选择性插入操作-->
<insert id="insertSelective" parameterType="map">
   INSERT INTO PORTAL_ROLE_FUNC
    <trim prefix="(" suffix=")" suffixOverrides="," >
  			<if test="seqNo != null and seqNo!=''" >
      			 SEQ_NO,
      		</if>
  			<if test="funcId != null and funcId!=''" >
      			 FUNC_ID,
      		</if>
  			<if test="roleId != null and roleId!=''" >
      			 ROLE_ID,
      		</if>
  			<if test="status != null and status!=''" >
      			 STATUS,
      		</if>
  			<if test="createdBy != null and createdBy!=''" >
      			 CREATED_BY,
      		</if>
  			<if test="createdDate != null and createdDate!=''" >
      			 CREATED_DATE,
      		</if>
  			<if test="updatedBy != null and updatedBy!=''" >
      			 UPDATED_BY,
      		</if>
  			<if test="updatedDate != null and updatedDate!=''" >
      			 UPDATED_DATE
      		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="seqNo != null and seqNo!=''" >
		    	 #{seqNo,jdbcType=DECIMAL},
		     </if>
    		<if test="funcId != null and funcId!=''" >
		    	 #{funcId,jdbcType=DECIMAL},
		     </if>
    		<if test="roleId != null and roleId!=''" >
		    	 #{roleId,jdbcType=DECIMAL},
		     </if>
    		<if test="status != null and status!=''" >
		    	 #{status,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	 #{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	 #{createdDate,jdbcType=DATE},
		     </if>
    		<if test="updatedBy != null and updatedBy!=''" >
		    	 #{updatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="updatedDate != null and updatedDate!=''" >
		    	 #{updatedDate,jdbcType=DATE}
		     </if>
    </trim>
  </insert>
  
  
   <!-- 根据主键查询 -->
<select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM PORTAL_ROLE_FUNC
    WHERE 
   		 SEQ_NO=#{seqNo,jdbcType=DECIMAL} 
  </select>
  
    <select id="getPageData" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" />
  	FROM(
  	SELECT 
    <include refid="Base_Column_List" />
    ,ROWNUM RN
    FROM PORTAL_ROLE_FUNC
    WHERE 1=1
    )
    WHERE  
    1=1
  	<if test="start != null and start!=''" >
    <![CDATA[ AND RN>${start} ]]>
   </if>
  	<if test="end != null and end!=''" >
    <![CDATA[ AND RN<=${end}]]>
   </if>
    
  </select>
  
  <select id="getPageCount" parameterType="map" resultType="int">
  	SELECT 
   	COUNT(1)
    FROM PORTAL_ROLE_FUNC
    WHERE 1=1
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    UPDATE PORTAL_ROLE_FUNC
    <set >
    		<if test="seqNo != null and seqNo!=''" >
		    	SEQ_NO=#{seqNo,jdbcType=DECIMAL},
		     </if>
    		<if test="funcId != null and funcId!=''" >
		    	FUNC_ID=#{funcId,jdbcType=DECIMAL},
		     </if>
    		<if test="roleId != null and roleId!=''" >
		    	ROLE_ID=#{roleId,jdbcType=DECIMAL},
		     </if>
    		<if test="status != null and status!=''" >
		    	STATUS=#{status,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	CREATED_BY=#{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="updatedBy != null and updatedBy!=''" >
		    	UPDATED_BY=#{updatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="updatedDate != null and updatedDate!=''" >
		    	UPDATED_DATE=#{updatedDate,jdbcType=DATE}
		     </if>
    </set>
    WHERE
   		 SEQ_NO=#{seqNo,jdbcType=DECIMAL} 
  </update>
  
  <update id="updateByPrimaryKey" parameterType="map" >
    UPDATE PORTAL_ROLE_FUNC
    <set >
    		<if test="seqNo != null and seqNo!=''" >
		    	SEQ_NO=#{seqNo,jdbcType=DECIMAL},
		     </if>
    		<if test="funcId != null and funcId!=''" >
		    	FUNC_ID=#{funcId,jdbcType=DECIMAL},
		     </if>
    		<if test="roleId != null and roleId!=''" >
		    	ROLE_ID=#{roleId,jdbcType=DECIMAL},
		     </if>
    		<if test="status != null and status!=''" >
		    	STATUS=#{status,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	CREATED_BY=#{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="updatedBy != null and updatedBy!=''" >
		    	UPDATED_BY=#{updatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="updatedDate != null and updatedDate!=''" >
		    	UPDATED_DATE=#{updatedDate,jdbcType=DATE}
		     </if>
    </set>
    WHERE
   		 SEQ_NO=#{seqNo,jdbcType=DECIMAL} 
  </update>
  
  <select id="existRoleFunc" parameterType="map" resultType="java.lang.Integer">
  		select count(1) from PORTAL_ROLE_FUNC where func_id=${funcId} and role_id=${roleId}
  </select>
  
  <select id="getRoleFuncs" parameterType="map" resultMap="BaseResultMap">
  	SELECT  T1.SEQ_NO, 
	  		T1.FUNC_ID, 
	  		T1.ROLE_ID, 
	  		T1.STATUS, 
	  		T1.CREATED_BY, 
	  		T1.CREATED_DATE, 
	  		T1.UPDATED_BY, 
	  		T1.UPDATED_DATE 
     FROM PORTAL_ROLE_FUNC T1, PORTAL_FUNC T2
    WHERE T1.FUNC_ID = T2.FUNC_ID
      AND T2.FUNC_URL IS NOT NULL
      AND T2.FUNC_STATUS='1'
      AND T1.ROLE_ID=${roleId}
  
  </select>
  
  <delete id="deleteRoleFuncs" parameterType="map">
  	  DELETE FROM PORTAL_ROLE_FUNC  WHERE ROLE_ID=${roleId}
  </delete>
  
  <delete id="removeRoles" parameterType="map">
  	 DELETE FROM PORTAL_ROLE_FUNC  WHERE ROLE_ID=${roleId}
  </delete>
  
  <delete id="removeFuncs" parameterType="map">
  	DELETE FROM PORTAL_ROLE_FUNC  WHERE FUNC_ID=${funcId}
  </delete>
  
</mapper> 