<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace必须指向Dao接口 -->
<mapper namespace="com.pccw.bedc.dao.BciBankTransMapper">
<resultMap id="BaseResultMap" type="com.pccw.bedc.model.BciBankTrans">
   <id column="TRAN_ID" jdbcType="DECIMAL" property="tranId" />
   <id column="TRAN_CODE" jdbcType="VARCHAR" property="tranCode" />
   <id column="BANK_CODE" jdbcType="VARCHAR" property="bankCode" />
   <id column="TRAN_DESC" jdbcType="VARCHAR" property="tranDesc" />
   <id column="STATUS" jdbcType="CHAR" property="status" />
   <id column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
   <id column="CREATED_DATE" jdbcType="DATE" property="createdDate" />
   <id column="LAST_UPDATED_BY" jdbcType="VARCHAR" property="lastUpdatedBy" />
   <id column="LAST_UPDATED_DATE" jdbcType="DATE" property="lastUpdatedDate" />
</resultMap>

 <sql id="Base_Column_List">
  		TRAN_ID, 
  		TRAN_CODE, 
  		BANK_CODE, 
  		TRAN_DESC, 
  		STATUS, 
  		CREATED_BY, 
  		CREATED_DATE, 
  		LAST_UPDATED_BY, 
  		LAST_UPDATED_DATE 
  </sql>
  <!-- 根据主键删除-->
 <delete id="deleteByPrimaryKey" parameterType="com.pccw.bedc.model.BciBankTrans">
    DELETE FROM BCI_BANK_TRANS
    WHERE 
   		 TRAN_ID=#{tranId,jdbcType=DECIMAL} 
  </delete>
  
  <!--插入操作-->
  <insert id="insert" parameterType="map">
   	insert into BCI_BANK_TRANS (
	     TRAN_ID,
	     TRAN_CODE,
	     BANK_CODE,
	     TRAN_DESC,
	     STATUS,
	     CREATED_BY,
	     CREATED_DATE,
	     LAST_UPDATED_BY,
	     LAST_UPDATED_DATE
		   )values (
		     #{tranId,jdbcType=DECIMAL},
		     #{tranCode,jdbcType=VARCHAR},
		     #{bankCode,jdbcType=VARCHAR},
		     #{tranDesc,jdbcType=VARCHAR},
		     #{status,jdbcType=CHAR},
		     #{createdBy,jdbcType=VARCHAR},
		     #{createdDate,jdbcType=DATE},
		     #{lastUpdatedBy,jdbcType=VARCHAR},
		     #{lastUpdatedDate,jdbcType=DATE}
	   )
	</insert>

 <!--选择性插入操作-->
<insert id="insertSelective" parameterType="map">
   INSERT INTO BCI_BANK_TRANS
    <trim prefix="(" suffix=")" suffixOverrides="," >
  			<if test="tranId != null and tranId!=''" >
      			 TRAN_ID,
      		</if>
  			<if test="tranCode != null and tranCode!=''" >
      			 TRAN_CODE,
      		</if>
  			<if test="bankCode != null and bankCode!=''" >
      			 BANK_CODE,
      		</if>
  			<if test="tranDesc != null and tranDesc!=''" >
      			 TRAN_DESC,
      		</if>
  			<if test="status != null and status!=''" >
      			 STATUS,
      		</if>
  			<if test="createdBy != null and createdBy!=''" >
      			 CREATED_BY,
      		</if>
  			<if test="createdDate != null and createdDate!=''" >
      			 CREATED_DATE,
      		</if>
  			<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
      			 LAST_UPDATED_BY,
      		</if>
  			<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
      			 LAST_UPDATED_DATE
      		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="tranId != null and tranId!=''" >
		    	 #{tranId,jdbcType=DECIMAL},
		     </if>
    		<if test="tranCode != null and tranCode!=''" >
		    	 #{tranCode,jdbcType=VARCHAR},
		     </if>
    		<if test="bankCode != null and bankCode!=''" >
		    	 #{bankCode,jdbcType=VARCHAR},
		     </if>
    		<if test="tranDesc != null and tranDesc!=''" >
		    	 #{tranDesc,jdbcType=VARCHAR},
		     </if>
    		<if test="status != null and status!=''" >
		    	 #{status,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	 #{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	 #{createdDate,jdbcType=DATE},
		     </if>
    		<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
		    	 #{lastUpdatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
		    	 #{lastUpdatedDate,jdbcType=DATE}
		     </if>
    </trim>
  </insert>
  
  
   <!-- 根据主键查询 -->
<select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM BCI_BANK_TRANS
    WHERE 
   		 TRAN_ID=#{tranId,jdbcType=DECIMAL} 
  </select>
  
    <select id="getPageData" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" />
  	FROM(
  	SELECT 
    <include refid="Base_Column_List" />
    ,ROWNUM RN
    FROM BCI_BANK_TRANS
    WHERE 1=1
    <if test="bankCode != null and bankCode!=''" >
		   AND  BANK_CODE=#{bankCode,jdbcType=VARCHAR}
	</if>
    <if test="tranCode != null and tranCode!=''" >
		   AND TRAN_CODE=#{tranCode,jdbcType=VARCHAR}
	</if>
    )
    WHERE  
    1=1
  	<if test="start != null and start!=''" >
    <![CDATA[ AND RN>${start} ]]>
   </if>
  	<if test="end != null and end!=''" >
    <![CDATA[ AND RN<=${end}]]>
   </if>
    
  </select>
  
  <select id="getPageCount" parameterType="map" resultType="int">
  	SELECT 
   	COUNT(1)
    FROM BCI_BANK_TRANS
    WHERE 1=1
     <if test="bankCode != null and bankCode!=''" >
		   AND  BANK_CODE=#{bankCode,jdbcType=VARCHAR}
	</if>
    <if test="tranCode != null and tranCode!=''" >
		   AND TRAN_CODE=#{tranCode,jdbcType=VARCHAR}
	</if>
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    UPDATE BCI_BANK_TRANS
    <set >
    		<if test="tranId != null and tranId!=''" >
		    	TRAN_ID=#{tranId,jdbcType=DECIMAL},
		     </if>
    		<if test="tranCode != null and tranCode!=''" >
		    	TRAN_CODE=#{tranCode,jdbcType=VARCHAR},
		     </if>
    		<if test="bankCode != null and bankCode!=''" >
		    	BANK_CODE=#{bankCode,jdbcType=VARCHAR},
		     </if>
    		<if test="tranDesc != null and tranDesc!=''" >
		    	TRAN_DESC=#{tranDesc,jdbcType=VARCHAR},
		     </if>
    		<if test="status != null and status!=''" >
		    	STATUS=#{status,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	CREATED_BY=#{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
		    	LAST_UPDATED_BY=#{lastUpdatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
		    	LAST_UPDATED_DATE=#{lastUpdatedDate,jdbcType=DATE}
		     </if>
    </set>
    WHERE
   		 TRAN_ID=#{tranId,jdbcType=DECIMAL} 
  </update>
  
  <update id="updateByPrimaryKey" parameterType="map" >
    UPDATE BCI_BANK_TRANS
    <set >
    		<if test="tranId != null and tranId!=''" >
		    	TRAN_ID=#{tranId,jdbcType=DECIMAL},
		     </if>
    		<if test="tranCode != null and tranCode!=''" >
		    	TRAN_CODE=#{tranCode,jdbcType=VARCHAR},
		     </if>
    		<if test="bankCode != null and bankCode!=''" >
		    	BANK_CODE=#{bankCode,jdbcType=VARCHAR},
		     </if>
    		<if test="tranDesc != null and tranDesc!=''" >
		    	TRAN_DESC=#{tranDesc,jdbcType=VARCHAR},
		     </if>
    		<if test="status != null and status!=''" >
		    	STATUS=#{status,jdbcType=CHAR},
		     </if>
    		<if test="createdBy != null and createdBy!=''" >
		    	CREATED_BY=#{createdBy,jdbcType=VARCHAR},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
		    	LAST_UPDATED_BY=#{lastUpdatedBy,jdbcType=VARCHAR},
		     </if>
    		<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
		    	LAST_UPDATED_DATE=#{lastUpdatedDate,jdbcType=DATE}
		     </if>
    </set>
    WHERE
   		 TRAN_ID=#{tranId,jdbcType=DECIMAL} 
  </update>
  
  <select id="getBankTrans" resultMap="BaseResultMap" parameterType="map">
  	SELECT 
    <include refid="Base_Column_List" />
    FROM BCI_BANK_TRANS
    WHERE 
   		 BANK_CODE=#{bankCode,jdbcType=VARCHAR} 
  
  
  </select>
  
</mapper> 