<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace必须指向Dao接口 -->
<mapper namespace="com.pccw.bedc.dao.BciXmlFilesTMapper">
<resultMap id="BaseResultMap" type="com.pccw.bedc.model.BciXmlFilesT">
   <id column="XML_FILE_ID" jdbcType="DECIMAL" property="xmlFileId" />
   <id column="XML_FILE_NAME" jdbcType="VARCHAR" property="xmlFileName" />
   <id column="BANK_CODE" jdbcType="VARCHAR" property="bankCode" />
   <id column="TRAN_CODE" jdbcType="VARCHAR" property="tranCode" />
   <id column="ENABLED_FLAG" jdbcType="VARCHAR" property="enabledFlag" />
   <id column="START_DATE" jdbcType="DATE" property="startDate" />
   <id column="END_DATE" jdbcType="DATE" property="endDate" />
   <id column="CREATE_BY" jdbcType="DECIMAL" property="createBy" />
   <id column="CREATED_DATE" jdbcType="DATE" property="createdDate" />
   <id column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
   <id column="LAST_UPDATED_DATE" jdbcType="DATE" property="lastUpdatedDate" />
   <id column="TEMPLATE_VERSION" jdbcType="VARCHAR" property="templateVersion" />
   <id column="TEMPLATE_FLAG" jdbcType="VARCHAR" property="templateFlag" />
   <id column="BANK_XML_TYPE" jdbcType="CHAR" property="bankXmlType" />
   <id column="TEMPLATE_ID" jdbcType="DECIMAL" property="templateId" />
</resultMap>

 <sql id="Base_Column_List">
  		XML_FILE_ID, 
  		XML_FILE_NAME, 
  		BANK_CODE, 
  		TRAN_CODE, 
  		ENABLED_FLAG, 
  		START_DATE, 
  		END_DATE, 
  		CREATE_BY, 
  		CREATED_DATE, 
  		LAST_UPDATED_BY, 
  		LAST_UPDATED_DATE, 
  		TEMPLATE_VERSION, 
  		TEMPLATE_FLAG, 
  		BANK_XML_TYPE, 
  		TEMPLATE_ID 
  </sql>
  <!-- 根据主键删除-->
 <delete id="deleteByPrimaryKey" parameterType="com.pccw.bedc.model.BciXmlFilesT">
    DELETE FROM BCI_XML_FILES_T
    WHERE 
   		 XML_FILE_ID=#{xmlFileId,jdbcType=DECIMAL} 
  </delete>
  
  <!--插入操作-->
  <insert id="insert" parameterType="map">
   	insert into BCI_XML_FILES_T (
	     XML_FILE_ID,
	     XML_FILE_NAME,
	     BANK_CODE,
	     TRAN_CODE,
	     ENABLED_FLAG,
	     START_DATE,
	     END_DATE,
	     CREATE_BY,
	     CREATED_DATE,
	     LAST_UPDATED_BY,
	     LAST_UPDATED_DATE,
	     TEMPLATE_VERSION,
	     TEMPLATE_FLAG,
	     BANK_XML_TYPE,
	     TEMPLATE_ID
		   )values (
		     #{xmlFileId,jdbcType=DECIMAL},
		     #{xmlFileName,jdbcType=VARCHAR},
		     #{bankCode,jdbcType=VARCHAR},
		     #{tranCode,jdbcType=VARCHAR},
		     #{enabledFlag,jdbcType=VARCHAR},
		     #{startDate,jdbcType=DATE},
		     #{endDate,jdbcType=DATE},
		     #{createBy,jdbcType=DECIMAL},
		     #{createdDate,jdbcType=DATE},
		     #{lastUpdatedBy,jdbcType=DECIMAL},
		     #{lastUpdatedDate,jdbcType=DATE},
		     #{templateVersion,jdbcType=VARCHAR},
		     #{templateFlag,jdbcType=VARCHAR},
		     #{bankXmlType,jdbcType=CHAR},
		     #{templateId,jdbcType=DECIMAL}
	   )
	</insert>

 <!--选择性插入操作-->
<insert id="insertSelective" parameterType="map">
   INSERT INTO BCI_XML_FILES_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
  			<if test="xmlFileId != null and xmlFileId!=''" >
      			 XML_FILE_ID,
      		</if>
  			<if test="xmlFileName != null and xmlFileName!=''" >
      			 XML_FILE_NAME,
      		</if>
  			<if test="bankCode != null and bankCode!=''" >
      			 BANK_CODE,
      		</if>
  			<if test="tranCode != null and tranCode!=''" >
      			 TRAN_CODE,
      		</if>
  			<if test="enabledFlag != null and enabledFlag!=''" >
      			 ENABLED_FLAG,
      		</if>
  			<if test="startDate != null and startDate!=''" >
      			 START_DATE,
      		</if>
  			<if test="endDate != null and endDate!=''" >
      			 END_DATE,
      		</if>
  			<if test="createBy != null and createBy!=''" >
      			 CREATE_BY,
      		</if>
  			<if test="createdDate != null and createdDate!=''" >
      			 CREATED_DATE,
      		</if>
  			<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
      			 LAST_UPDATED_BY,
      		</if>
  			<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
      			 LAST_UPDATED_DATE,
      		</if>
  			<if test="templateVersion != null and templateVersion!=''" >
      			 TEMPLATE_VERSION,
      		</if>
  			<if test="templateFlag != null and templateFlag!=''" >
      			 TEMPLATE_FLAG,
      		</if>
  			<if test="bankXmlType != null and bankXmlType!=''" >
      			 BANK_XML_TYPE,
      		</if>
  			<if test="templateId != null and templateId!=''" >
      			 TEMPLATE_ID
      		</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="xmlFileId != null and xmlFileId!=''" >
		    	 #{xmlFileId,jdbcType=DECIMAL},
		     </if>
    		<if test="xmlFileName != null and xmlFileName!=''" >
		    	 #{xmlFileName,jdbcType=VARCHAR},
		     </if>
    		<if test="bankCode != null and bankCode!=''" >
		    	 #{bankCode,jdbcType=VARCHAR},
		     </if>
    		<if test="tranCode != null and tranCode!=''" >
		    	 #{tranCode,jdbcType=VARCHAR},
		     </if>
    		<if test="enabledFlag != null and enabledFlag!=''" >
		    	 #{enabledFlag,jdbcType=VARCHAR},
		     </if>
    		<if test="startDate != null and startDate!=''" >
		    	 #{startDate,jdbcType=DATE},
		     </if>
    		<if test="endDate != null and endDate!=''" >
		    	 #{endDate,jdbcType=DATE},
		     </if>
    		<if test="createBy != null and createBy!=''" >
		    	 #{createBy,jdbcType=DECIMAL},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	 #{createdDate,jdbcType=DATE},
		     </if>
    		<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
		    	 #{lastUpdatedBy,jdbcType=DECIMAL},
		     </if>
    		<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
		    	 #{lastUpdatedDate,jdbcType=DATE},
		     </if>
    		<if test="templateVersion != null and templateVersion!=''" >
		    	 #{templateVersion,jdbcType=VARCHAR},
		     </if>
    		<if test="templateFlag != null and templateFlag!=''" >
		    	 #{templateFlag,jdbcType=VARCHAR},
		     </if>
    		<if test="bankXmlType != null and bankXmlType!=''" >
		    	 #{bankXmlType,jdbcType=CHAR},
		     </if>
    		<if test="templateId != null and templateId!=''" >
		    	 #{templateId,jdbcType=DECIMAL}
		     </if>
    </trim>
  </insert>
  
  
   <!-- 根据主键查询 -->
<select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM BCI_XML_FILES_T
    WHERE 
   		 XML_FILE_ID=#{xmlFileId,jdbcType=DECIMAL} 
  </select>
  
    <select id="getPageData" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" />
  	FROM(
  	SELECT 
    <include refid="Base_Column_List" />
    ,ROWNUM RN
    FROM BCI_XML_FILES_T
    WHERE 1=1
    )
    WHERE  
    1=1
  	<if test="start != null and start!=''" >
    <![CDATA[ AND RN>${start} ]]>
   </if>
  	<if test="end != null and end!=''" >
    <![CDATA[ AND RN<=${end}]]>
   </if>
    
  </select>
  
  <select id="getPageCount" parameterType="map" resultType="int">
  	SELECT 
   	COUNT(1)
    FROM BCI_XML_FILES_T
    WHERE 1=1
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    UPDATE BCI_XML_FILES_T
    <set >
    		<if test="xmlFileId != null and xmlFileId!=''" >
		    	XML_FILE_ID=#{xmlFileId,jdbcType=DECIMAL},
		     </if>
    		<if test="xmlFileName != null and xmlFileName!=''" >
		    	XML_FILE_NAME=#{xmlFileName,jdbcType=VARCHAR},
		     </if>
    		<if test="bankCode != null and bankCode!=''" >
		    	BANK_CODE=#{bankCode,jdbcType=VARCHAR},
		     </if>
    		<if test="tranCode != null and tranCode!=''" >
		    	TRAN_CODE=#{tranCode,jdbcType=VARCHAR},
		     </if>
    		<if test="enabledFlag != null and enabledFlag!=''" >
		    	ENABLED_FLAG=#{enabledFlag,jdbcType=VARCHAR},
		     </if>
    		<if test="startDate != null and startDate!=''" >
		    	START_DATE=#{startDate,jdbcType=DATE},
		     </if>
    		<if test="endDate != null and endDate!=''" >
		    	END_DATE=#{endDate,jdbcType=DATE},
		     </if>
    		<if test="createBy != null and createBy!=''" >
		    	CREATE_BY=#{createBy,jdbcType=DECIMAL},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
		    	LAST_UPDATED_BY=#{lastUpdatedBy,jdbcType=DECIMAL},
		     </if>
    		<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
		    	LAST_UPDATED_DATE=#{lastUpdatedDate,jdbcType=DATE},
		     </if>
    		<if test="templateVersion != null and templateVersion!=''" >
		    	TEMPLATE_VERSION=#{templateVersion,jdbcType=VARCHAR},
		     </if>
    		<if test="templateFlag != null and templateFlag!=''" >
		    	TEMPLATE_FLAG=#{templateFlag,jdbcType=VARCHAR},
		     </if>
    		<if test="bankXmlType != null and bankXmlType!=''" >
		    	BANK_XML_TYPE=#{bankXmlType,jdbcType=CHAR},
		     </if>
    		<if test="templateId != null and templateId!=''" >
		    	TEMPLATE_ID=#{templateId,jdbcType=DECIMAL}
		     </if>
    </set>
    WHERE
   		 XML_FILE_ID=#{xmlFileId,jdbcType=DECIMAL} 
  </update>
  
  <update id="updateByPrimaryKey" parameterType="map" >
    UPDATE BCI_XML_FILES_T
    <set >
    		<if test="xmlFileId != null and xmlFileId!=''" >
		    	XML_FILE_ID=#{xmlFileId,jdbcType=DECIMAL},
		     </if>
    		<if test="xmlFileName != null and xmlFileName!=''" >
		    	XML_FILE_NAME=#{xmlFileName,jdbcType=VARCHAR},
		     </if>
    		<if test="bankCode != null and bankCode!=''" >
		    	BANK_CODE=#{bankCode,jdbcType=VARCHAR},
		     </if>
    		<if test="tranCode != null and tranCode!=''" >
		    	TRAN_CODE=#{tranCode,jdbcType=VARCHAR},
		     </if>
    		<if test="enabledFlag != null and enabledFlag!=''" >
		    	ENABLED_FLAG=#{enabledFlag,jdbcType=VARCHAR},
		     </if>
    		<if test="startDate != null and startDate!=''" >
		    	START_DATE=#{startDate,jdbcType=DATE},
		     </if>
    		<if test="endDate != null and endDate!=''" >
		    	END_DATE=#{endDate,jdbcType=DATE},
		     </if>
    		<if test="createBy != null and createBy!=''" >
		    	CREATE_BY=#{createBy,jdbcType=DECIMAL},
		     </if>
    		<if test="createdDate != null and createdDate!=''" >
		    	CREATED_DATE=#{createdDate,jdbcType=DATE},
		     </if>
    		<if test="lastUpdatedBy != null and lastUpdatedBy!=''" >
		    	LAST_UPDATED_BY=#{lastUpdatedBy,jdbcType=DECIMAL},
		     </if>
    		<if test="lastUpdatedDate != null and lastUpdatedDate!=''" >
		    	LAST_UPDATED_DATE=#{lastUpdatedDate,jdbcType=DATE},
		     </if>
    		<if test="templateVersion != null and templateVersion!=''" >
		    	TEMPLATE_VERSION=#{templateVersion,jdbcType=VARCHAR},
		     </if>
    		<if test="templateFlag != null and templateFlag!=''" >
		    	TEMPLATE_FLAG=#{templateFlag,jdbcType=VARCHAR},
		     </if>
    		<if test="bankXmlType != null and bankXmlType!=''" >
		    	BANK_XML_TYPE=#{bankXmlType,jdbcType=CHAR},
		     </if>
    		<if test="templateId != null and templateId!=''" >
		    	TEMPLATE_ID=#{templateId,jdbcType=DECIMAL}
		     </if>
    </set>
    WHERE
   		 XML_FILE_ID=#{xmlFileId,jdbcType=DECIMAL} 
  </update>
  
</mapper> 